button.btn.btn-xs.btn-primary.btn-flat.btn-edit {
    width: 100%;
    border-radius: 0;
}
button.btn.btn-xs.btn-danger.btn-flat.list-item-delete-btn {
    border-radius: 0;
    width: 100%;
}
ul.dropdown-menu.animated.fadeInUp {
    margin: 0!important;
    min-width: 200%!important;
}
ul.dropdown-menu {
    margin: 0!important;
    min-width: 200%!important;
}
ul.dropdown-menu:after {
    content: " ";
    border: 7px solid #fff;
    position: absolute;
    top: -14px;
    left: 8px;
    border-right-color: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
}
button.btn.btn-block.btn-xs.btn-flat.dropdown-toggle {
    min-width: 150%;
    padding: 0;
    margin: 0;
}
button.btn.bg-cyan.btn-block.btn-xs.btn-flat.btn_add_user {
    border-radius: 0;
    border: 1px solid;
}
ul.dropdown-menu.animated.fadeInRight {
    left: 157%;
    top: 0px;
}
ul.dropdown-menu.animated.fadeInRight:after {
    content: " ";
    position: absolute;
    border: 7px solid #fff;
    left: -14px;
    top: 6px;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
}
section.content-header {
    background-color: #d1dae5!important;
    padding: 7px 15px;
}
.input-group {
    margin: 20px;
}
a.paginate_button {
    padding: 5px 10px!important;
    margin-left: -1px!important;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background: transparent!important;
    border: transparent!important;
    border-radius: 0!important;

}
a.paginate_button:hover,a.paginate_button:active,a.paginate_button:visited,a.paginate_button:focus {
    padding: 5px 10px!important;
    margin-left: -1px!important;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background: #ddd!important;
    border: #ddd!important;
    border-radius: 0!important;
}
a.paginate_button.current {
    padding: 5px 10px!important;
    margin-left: -1px!important;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background: #d1dae5!important;
    border: #d1dae5!important;
    border-radius: 0!important;
 }
a#user-table_previous {
    padding: 8px 12px !important;
}
a#user-table_next {
    padding: 8px 12px!important;
}
div#user-table_paginate {
    padding-top: 0.755em;
}
a#user-table_previous.paginate_button.previous.disabled {
    border: transparent!important;
    background: transparent!important;
    cursor: no-drop;
}
a#user-table_next.paginate_button.next.disabled {
    border: transparent!important;
    background: transparent!important;
    cursor: no-drop;
}
table.dataTable thead th, table.dataTable thead td,table.dataTable.no-footer{
    border: #d1dae5!important;
}
table#user-table {
    background: #39cccc;
}
label.error-msg-validate {
    position: absolute;
    z-index: 3;
    top: -30px;
    right: 0;
    /* opacity: 0.5; */
    border: 1px solid rgba(255, 2, 2, 0.52);
    padding: 1px 5px;
    color: #ffffff;
    background: rgba(255, 2, 2, 0.52);
}
label.error-msg-validate:after {
    content: " ";
    border: 8px solid;
    position: absolute;
    bottom: -17px;
    left: 9px;
    color: rgba(255, 2, 2, 0.52);
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    /* border-right: transparent; */
    /* border-left: transparent; */
    /* border-top: red; */
}
div#user-table_length label select {
    border: none;
    background: transparent;
    /* border-bottom: 1px solid; */
    /* border-radius: 4px; */
}

a.btn.bg-teal.btn-block.btn-flat.dropdown-toggle:active,
a.btn.bg-teal.btn-block.btn-flat.dropdown-toggle:visited,
a.btn.bg-teal.btn-block.btn-flat.dropdown-toggle:focus{
    -webkit-box-shadow: none;
    box-shadow: none;
}